@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #090D1F;
  --border-line: #7b7d80;
  --blog-content: #667085;
  --blog-names: #6941C6;
  --pag-color: #ffffff;
}

.dark {
  --bg: #090D1F;
  --text: #f4f4f5;
  --border-line: #f4f4f5;
  --blog-content: #C0C5D0;
  --blog-names: #6941C6;
  --pag-color: #090d1f;

}

body {
  margin: 0;
  background: var(--bg);
}
