@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --bg: #ffffff;
  --text: #090D1F;
  --border-line: #7b7d80;
  --blog-content: #667085;
  --blog-names: #6941C6;
  --pag-color: #ffffff;
  --hoverbtn: #ede9fe  ;

}

.dark {
  --bg: #090D1F;
  --text: #f4f4f5;
  --border-line: #f4f4f5;
  --blog-content: #C0C5D0;
  --blog-names: #6941C6;
  --pag-color: #090d1f;
  --hoverbtn: #312e81  ;
}

body {
  background: var(--bg);
  max-width: 1200px;
  margin: auto;
}
.homebody{
  padding: 0px 60px;
}
@media (max-width: 639px) {
  .homebody{
    padding: 0px 20px;
  }
}
.hoverbtn:hover {
  background-color: var(--hoverbtn);
}
